---
import Layout from '../layouts/Layout.astro';
import Logo from "@weekerhq/asset-logo/logo.svg";
---

<Layout>
	<div class="container">
		<Logo class="logo" />
		<div class="coming-soon">coming soon</div>
	</div>
</Layout>

<style>
.container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	max-width: 300px;
	padding: 8px;
	height: auto;
}

.coming-soon {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}
</style>
